.auth-welcome-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    margin: 0 auto;
    text-align: left;
    h5 {
      color: #4a5669;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      text-align: left;
      margin-top: 10px;
      display: block;
      width: 100%;
      text-align: left;
      width: 100%;
      a {
        color: #0089ff;
        font-weight: 600;
      }
    }
    .seperator {
      margin: 10px 0;
      position: relative;
      display: flex;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.8px;
      color: rgb(154, 168, 189);
      flex-direction: row;
      margin: 22px 0px;
      display: block;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.8px;
      color: #9aa8bd;
      display: block;
      width: 100%;
      text-align: center;
      &::after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #9aa8bd;
        height: 1px;
        width: 100%;
        left: 0;
        content: "";
      }
      span {
        background-color: #ffff;
        padding: 0px 30px;
        padding: 0px 30px;
        display: inline;
        background: #fff;
        z-index: 99;
        position: relative;
      }
    }
    button {
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }

    .auth-scl-buttons {
      width: 100%;
    }
  }