
/*===== start Theme default css =====*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
  font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-style: normal;
}

.mobile-only {
    display: none;
}

.desktop-only {
    display: block;
}
*{
    margin: 0;padding: 0;
}
a,
button {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

a:hover {
    text-decoration: none;
}

a:focus,
button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0;
    outline: none !important;
    box-shadow: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
    font-weight: normal;
    color: #313131;
    margin-top: 0px;
    font-style: normal;
    font-weight: 400;
    text-transform: normal;
}

p {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    color: #7e7e7e;
    margin-bottom: 15px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none
}

/*===== end Theme default css =====*/